/* Changes style of exposed form filter buttons to be UCSB themed. */
.form-actions button {
  padding: 10px 18px;
  font-size: 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  font-family: Hind, sans-serif;
  border: 0 none;
  background: #2280bf;
  color: #fff;
  text-align: center;
}

.form-actions button:hover {
  background: #369;
}



/* Communities Page */
/* *************************************** */

.view-communities-list .views-view-grid .views-row {
  float:none !important;
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;
}

#views-exposed-form-communities-list-block-1 .form--inline{
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
}

[about |= "/communities"] .grid-item--height1{
  height: 150px !important;
}

[about |="/communities"] .background-color-003660:hover {
  background-color: #215985 !important;
}

[about |="/communities"] .background-color-febc11:hover {
  background-color: #ce9d22 !important;
}

.community-content{
  height: 90%;
}

.community-container {
  position:relative;
  background-size: cover;
  background-position: center;
  padding: 45px 0px 125px 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  /* height: 615px; */
  margin: 8px;
}

.community-inner {
  justify-content: center;
  padding: 0 30px;
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;
}

.community-inner-cols {
  display: flex;
  flex-direction: column-reverse;
}

.community-column {
  flex: 50%;
 
}

.community-column-right{
   display: flex;
  justify-content: center;
}

.community-title{
  height: 64px;
  margin-bottom: 10px;
}

.community-title p{
  font-size: 27px;
  font-weight: 600;
  letter-spacing: -0.1pt;
  font-family: Avenir, "Century Gothic", sans-serif;
}

.community-title h1,
.community-title h2,
.community-title h3,
.community-title h4,
.community-title h5,
.community-title h6,
.community-title p {
  margin: 0;
  color: unset;
}

.community-body h1,
.community-body h2,
.community-body h3,
.community-body h4,
.community-body h5,
.community-body h6,
.community-body p {
  color: unset;
}



.community-body p{
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
}

.community-image{
  object-fit: contain;
  max-height: 200px;
}

.community-footer{
    position: absolute;
    bottom: 30px;
}

.community-footer h6{
  color: unset;
}

.community-btn{
  background-color: azure;
  box-shadow: rgb(38,57,77) 0px 15px 25px -8px;
  border-radius: 5px;
  margin-bottom: 3px;
  margin-left: -5px;

}

@media (max-width: 992px) {

  .view-communities-list .views-view-grid .views-col{
    width: 100% !important;
  }
  .community-body p {
      font-size: 14px;
      line-height: 18px;
    }

  .community-container {
    height: fit-content !important;
    padding: 20px 0 180px 0;
    min-height: 300px;
  }
  .community-inner {
    padding: 0 8px;
  }

  .community-image {
    max-height: 230px;
  }
}



/* Resource List Page: */
/* *************************************** */
@media (min-width: 992px) {
  .resource-image-view.col-md-4 {
    padding-right: 16px;
  }
}

#edit-sort-bef-combine {
  width: 140px;
}


.resource-title-link h2:hover {
  color: #005aa3;
  position: relative;
  text-decoration: underline #005aa3;
  /* border-bottom: 1px solid #005aa3; */
}


/* DLS List Page: */
.views-element-container .contextual-region.view-data-literacy-series-view {
  margin-bottom: 40px;
}


/* Get rid of pdf file name under the thumbnail in the DLS View */
.dls-media-thumbnail>div:first-of-type>article:first-of-type>div:last-of-type {
  display: none;
}

.dls-media-thumbnail img:hover {
  filter: drop-shadow(6px 3px 2px #484a63);
}

/* Fix margin on  data literacy series page*/

.paragraph--type--view .view.view-data-literacy-series-view {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 1230px;
  padding-left: 30px;
  padding-right: 30px;
}

.dls-item-title {
  margin: 0 0 10px 0;
}

.dls-item-body {
  font-size: 14px;
  line-height: 0px;
}

.dls-item-body>p {
  line-height: 18px;
}

@media (max-width: 1200px) {
  .dls-item-tags {
    font-size: 11px;
  }

  .dls-item-title {
    font-size: 18px;
    line-height: 22px;
  }

}

@media (max-width: 992px) {


  .dls-item-body>p {
    line-height: 16px;
  }
}


/* For DLS Filter: */

.view-data-literacy-series-view .bef--secondary {
  clear: right !important;
  float: right !important;
  width: min-content;
}


.view-data-literacy-series-view .bef-exposed-form .form--inline>.form-item {
  float: none;
}


@media (min-width: 992px) {
  .view-data-literacy-series-view .bef-exposed-form .form--inline>.form-item {
    margin-right: 8px;
  }
}

.view-data-literacy-series-view .bef--secondary>.panel-heading>a {
  width: max-content;
}

.view-data-literacy-series-view .form-actions {
  clear: both;
  display: block;
}


#edit-dls-tags-advanced-id {
  width: 400px;
}

@media (max-width: 992px) {
  #edit-dls-tags-advanced-id {
    width: 250px;
  }
}

.view-data-literacy-series-view .previous>a,
.view-data-literacy-series-view .next>a {
  box-shadow: 5px 3px 3px grey;
  font-size: 22px;
  font-weight: bolder;
  background: #2280bf;
  color: white !important;
  border: none !important;
  padding: 7px 16px !important;

}

.view-data-literacy-series-view .previous>a:hover,
.view-data-literacy-series-view .next>a:hover {
  color: white !important;
  background: #369;
}

.view-footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}