/* Changes style of exposed form filter buttons to be UCSB themed. */
.form-actions button,
.localist_minicalendar_nav a
{
  padding: 10px 18px;
  font-size: 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  font-family: Hind, sans-serif;
  border: 0 none;
  background: #2280bf;
  color: #fff;
  text-align: center;
}

.form-actions button:hover,
.localist_minicalendar_nav a:hover 
{
  background: #369;
}

/* Calendar Page */

.localist_minicalendar_minicalendar .localist_minicalendar_today a{
  background: #febc11 !important;
}


.localist_minicalendar_minicalendar .undefined a{
  /* For some reason, the current date in the calendar will have class "undefined" after you unselect it.  This is the only way to get the current date cell */
  background: #d7d7d7;
}

.localist-widget-hl .event-card header {
  height: 10.5em !important;
}

.localist-widget-hl .event-card{
  font-size: 12px !important;
  margin-bottom: 0 !important;
  height: 22em !important;

}

.localist-widget-hl .event-list .event-card .start-time.location{
  display: none;
}

.localist-widget-hl .event-list .event-overview .content{
  padding: 10px 5px 0px !important;
}


.localist_minicalendar_minicalendar td,
.localist_minicalendar_minicalendar th
{
  background-color: white !important;
  border: 1px solid #d7d7d7 !important;
}
.localist_minicalendar_minicalendar th {
  font-size: 14px !important;
}

.localist_minicalendar .localist_minicalendar_page_heading h1{
  background-color: #003660;
  color: white !important;
  font-size: 20px !important;
}

.localist_minicalendar .localist_minicalendar_pager a{
  background-color: #febc11 !important;
  padding-bottom: 4px !important;
  color: white !important;
  font-weight: 900;
}
.localist_minicalendar .localist_minicalendar_pager a.disabled{
  background-color: #ccc !important;
}

.localist_minicalendar .localist_minicalendar_pager a:hover {
  background-color: #ce9d22 !important;
}

table.localist_minicalendar_minicalendar caption{
  padding-left: 10px;
  background-color: #003660;
  color: white !important;
}

.localist_minicalendar_events a.cover{
  position: absolute !important;
  border-bottom: none !important;
}

.localist_minicalendar_nav {
  display: flex;
  justify-content: space-around;
}

.localist_minicalendar_nav a {
  color: white !important;

}

.localist_minicalendar_nav {
  margin-bottom: 30px;
  margin-top: 20px;
}

.localist_minicalendar_minicalendar{
  /* width: 520px !important; */
  height: 300px;
}

.localist_minicalendar_minicalendar a{
  color: inherit !important;
  border-bottom: none !important;
  display: flex !important;
  align-items: center;
  height: 100% !important;
  justify-content: center;

}

.localist_minicalendar table{
  color: inherit !important;
  border-bottom: none !important;
  table-layout: fixed;
}

.localist_minicalendar table tbody td{
  border: 1px solid white;
  padding: 0 !important;
}

.localist-widget-hl .event-title{
  font-size: 10px !important;
}

.localist-widget-hl .event-card .content p {
  overflow: inherit !important;
}

.localist-widget-hl .event-list{
  clear: none !important;
}

.localist-widget-hl .event-list li{
  clear: none !important;
}

@media (min-width: 62.5em) {
  .localist_minicalendar{
    width: 400px;
    float: right;
    margin-top: -20px;
  }

  .localist-widget-hl .event-list>li {
    width: 18.3% !important;
  }

  .localist-widget-hl .event-list>li{
    margin-right: 1.666667% !important;
  }

  .localist-widget-hl .event-list>li:nth-child(7){
    clear: left !important;
  }

}


/* Communities Page */
/* *************************************** */

/* for the select (drop down menu) in community page, testing */
select {
  width: 300px !important;
}

.view-communities-list .views-view-grid .views-row {
  float:none !important;
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;
}

#views-exposed-form-communities-list-block-1 .form--inline{
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
}

.community-content{
  height: 90%;
}

.community-container {
  min-height: 300px;
  position: relative;
  background-size: cover;
  background-position: center;
  padding: 45px 0px 125px 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 8px;
  overflow: hidden;
  /* background-color: #047C91; */
  color: #FFFFFF;
}

/* diff color each block, row1row2, and the repeat */
.view-communities-list .views-row:nth-of-type(2n+1) .views-col:nth-of-type(1) .community-container {
  background-color: #003660;
  color: #FFFFFF;
}

.view-communities-list .views-row:nth-of-type(2n+1) .views-col:nth-of-type(2) .community-container {
  background-color: #FEBC11;
  color: #3D4952;
}

.view-communities-list .views-row:nth-of-type(2n+1) .views-col:nth-of-type(3) .community-container {
  background-color: #047C91;
  color: #FFFFFF;
}

.view-communities-list .views-row:nth-of-type(2n) .views-col:nth-of-type(1) .community-container {
  background-color: #09847A;
  color: #FFFFFF;
}

.view-communities-list .views-row:nth-of-type(2n) .views-col:nth-of-type(2) .community-container {
  background-color: #EF5645;
  color: #011517;
}

.view-communities-list .views-row:nth-of-type(2n) .views-col:nth-of-type(3) .community-container {
  background-color: #6D7D33;
  color: #FFFFFF;
}


/* card itself */
.community-container .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  width: 100%;
  text-align: center;
  transition: transform 2s; 
  transform-style: preserve-3d;
  background-color: #047C91 !important;
  transform-origin: center; 
}

.community-container .card .card-front,
.community-container .card .card-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  width: 100%; 
  backface-visibility: hidden;
}

.community-container .card .card-back {
  background-color: #09847A !important;
  transform: rotateY(180deg); /* flip the back side initially */
}

.community-container .card:hover {
  transform: rotateY(180deg);
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 90%; 
  height: auto;
  text-align: center; 
  padding-top: 225px;
}

.community-inner {
  justify-content: center;
  padding: 0 30px;
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;
}

.community-inner-cols {
  display: flex;
  flex-direction: column-reverse;
}

.community-inner,
.community-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* will align the items vertically */
}


.community-column {
  flex: 50%;
}

.community-column-right{
   display: flex;
  justify-content: center;
}

.community-title{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  margin-bottom: 10px;
}

.community-title p{
  font-size: 27px;
  font-weight: 600;
  letter-spacing: -0.1pt;
  font-family: Avenir, "Century Gothic", sans-serif;
}

.community-title h1,
.community-title h2,
.community-title h3,
.community-title h4,
.community-title h5,
.community-title h6,
.community-title p {
  margin: 0;
  color: unset;
}

.community-body h1,
.community-body h2,
.community-body h3,
.community-body h4,
.community-body h5,
.community-body h6,
.community-body p {
  color: unset;
}



.community-body p{
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
}

.community-image{
  object-fit: contain;
  max-height: 200px;
}

.community-footer h6{
  color: unset;
}

.community-btn{
  background-color: azure;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  border-radius: 5px;
  margin-bottom: 30px;
  margin-left: -5px;
}

@media (max-width: 992px) {

  .view-communities-list .views-view-grid .views-col{
    width: 100% !important;
  }
  .community-body p {
      font-size: 14px;
      line-height: 18px;
    }

  .community-container {
    height: fit-content !important;
    padding: 20px 0 180px 0;
    min-height: 300px;
  }

  .community-inner {
    padding: 0 8px;
  }

  .community-image {
    max-height: 230px;
  }
}


/* Resource List Page:  (And for News & Events List Page as it borrows some of these styles).*/
/* *************************************** */
@media (min-width: 992px) {
  .resource-image-view.col-md-4 {
    padding-right: 16px;
  }
}

#edit-sort-bef-combine {
  width: 140px;
}


.resource-title-link h2:hover {
  color: #005aa3;
  position: relative;
  text-decoration: underline #005aa3;
  /* border-bottom: 1px solid #005aa3; */
}


/* DLS List Page: */
.views-element-container .contextual-region.view-data-literacy-series-view {
  margin-bottom: 40px;
}


/* Get rid of pdf file name under the thumbnail in the DLS View */
.dls-media-thumbnail>div:first-of-type>article:first-of-type>div:last-of-type {
  display: none;
}

.dls-media-thumbnail img:hover {
  filter: drop-shadow(6px 3px 2px #484a63);
}

/* Fix margin on  data literacy series page*/

.paragraph--type--view .view.view-data-literacy-series-view {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 1230px;
  padding-left: 30px;
  padding-right: 30px;
}

.dls-item-title {
  margin: 0 0 10px 0;
}

.dls-item-body {
  font-size: 14px;
  line-height: 0px;
}

.dls-item-body>p {
  line-height: 18px;
}

@media (max-width: 1200px) {
  .dls-item-tags {
    font-size: 11px;
  }

  .dls-item-title {
    font-size: 18px;
    line-height: 22px;
  }

}

@media (max-width: 992px) {


  .dls-item-body>p {
    line-height: 16px;
  }
}


/* For DLS Filter: */

.view-data-literacy-series-view .bef--secondary {
  clear: right !important;
  float: right !important;
  width: min-content;
}


.view-data-literacy-series-view .bef-exposed-form .form--inline>.form-item {
  float: none;
}


@media (min-width: 992px) {
  .view-data-literacy-series-view .bef-exposed-form .form--inline>.form-item {
    margin-right: 8px;
  }
}

.view-data-literacy-series-view .bef--secondary>.panel-heading>a {
  width: max-content;
}

.view-data-literacy-series-view .form-actions {
  clear: both;
  display: block;
}


#edit-dls-tags-advanced-id {
  width: 400px;
}

@media (max-width: 992px) {
  #edit-dls-tags-advanced-id {
    width: 250px;
  }
}

.view-data-literacy-series-view .previous>a,
.view-data-literacy-series-view .next>a {
  box-shadow: 5px 3px 3px grey;
  font-size: 22px;
  font-weight: bolder;
  background: #2280bf;
  color: white !important;
  border: none !important;
  padding: 7px 16px !important;

}

.view-data-literacy-series-view .previous>a:hover,
.view-data-literacy-series-view .next>a:hover {
  color: white !important;
  background: #369;
}

.view-footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Partners Page */
/* also called as Campus Unit Page */
/* *************************************** */

.view-partners{
  max-width: 1165px;
  margin: auto;
}

.partner-container {
  max-width: 1165px;
  margin: auto;
}

.partner-card {
  max-width: 1165px;
  margin: auto;
  background-color: #ffffff;
  margin-bottom: 1rem;
  border-radius: .25rem;
  padding: 10px;
}

.partner-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: .75rem 1.25rem;
  background-color: #DCE1E5;
  border-bottom: 1px solid #DCE1E5;
  color: #3D4952 !important;
  cursor: pointer;
  height: 70px;
}

.partner-card-header h2 {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  width: 100%; 
}

.partner-card-header h2 .btn {
  flex: 1; 
  text-align: left; 
  padding-left: 3px;
  justify-content: flex-start;
}

.partner-card-header h2 .btn-link {
  font-size: 22px;  
}

.expand-icon, .link-icon {
  margin-left: 15px; 
  cursor: pointer; 
}

.partner-card-body {
  background-color: #FFFFFF !important;
  color: #000000;
  border: 1px solid #DCE1E5;
  padding: 15px;
}

.partner-card .btn-link {
  text-decoration: none;
  color: #333;
}

.partner-card .btn-link:hover {
  text-decoration: none;
  color: #212529;
}

.partner-card-header h2 .btn:focus {
  outline: none;
  border-color: #DCE1E5;
}

.expand-icon img, .link-icon img {
  width: 18px; 
  height: 18px; 
}




/* Resources Page */
/* *************************************** */

.view-computing-resources-view .view-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.view-data-resources-view .view-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.view-research-resources-view .view-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}


.view-resources .views-view-grid .views-row{
  display: flex;
  justify-content: center;
  padding: 0 10px;  
  float:none !important;
  max-width: 1165px;
  margin-left: auto;
  margin-right: auto;
}

.view-data-resources-view .views-view-grid .views-row{
  display: flex;
  justify-content: center;
  padding: 0 10px;  
  float:none !important;
  max-width: 1165px;
  margin-left: auto;
  margin-right: auto;
}

.view-computing-resources-view .views-view-grid .views-row{
  display: flex;
  justify-content: center;
  padding: 0 10px;  
  float:none !important;
  max-width: 1165px;
  margin-left: auto;
  margin-right: auto;
}

.view-research-resources-view .views-view-grid .views-row{
  display: flex;
  justify-content: center;
  padding: 0 10px;  
  float:none !important;
  max-width: 1165px;
  margin-left: auto;
  margin-right: auto;
}

.resource{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1165px;
  margin: auto;
}

.resource-card {
  max-width: 266.25px;
  margin: auto 10px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  margin-bottom: 1rem;
  border-radius: .25rem;
  padding: 20px;
}

.resource-card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .75rem 1.25rem;
  background-color: #003660;
  color: #FFFFFF;
  height: 80px;
  overflow: hidden;
}

.resource-card-header h3 {
  color: #FFFFFF;
  font-size: 21px;
  margin:0;
  
}

.resource-card-image {
  width: 100%;
  height: auto;
}

.resource-card-body {
  padding-top: 20px;
  height: 190px;
}

.resource-card-link {
  text-decoration: none;
  color: inherit; /* Inherits the color from parent elements to avoid the usual blue color for links */
  display: block;  /* Ensures the anchor takes up the full space of its parent container */
}


@media (max-width: 768px) {

  /* Adjusting the main container of your resources */
  .view-resources .views-view-grid .views-row,
  .view-data-resources-view .views-view-grid .views-row,
  .view-computing-resources-view .views-view-grid .views-row,
  .view-research-resources-view .views-view-grid .views-row {
    max-width: 100%;
    padding: 10px;
  }

  /* Adjusting the general container for resources */
  .resource {
    max-width: 100%;
    flex-direction: column;
    align-items: center;
  }

  /* Adjusting each individual card on mobile */
  .resource-card {
    max-width: 90%;  /* You can adjust this percentage based on your preference */
    margin: 10px 0;
  }

  /* Adjusting the header for each card */
  .resource-card-header {
    height: auto;  /* Letting it adjust based on content */
  }

  .resource-card-header h3 {
    font-size: 18px;  /* Slightly reducing font size */
  }

  /* Adjusting image size */
  .resource-card-image {
    width: 80%;  /* Reducing image width for better fit */
    margin: 0 auto;  /* Centering the image */
  }

  /* Adjusting the body of each card */
  .resource-card-body {
    padding-top: 10px;
    height: auto;
  }

}


/* resource overview 1 */
.resource-overview-container {
  display: flex;
  justify-content: center !important;  
  float:none !important;
  flex-wrap: wrap;
  align-items: start;
  max-width: 1200px;  /* I increased this a bit to allow for card + margin */
  margin: auto;  
  padding: 0 10px;  
}

.resource-overview-card {
  display: flex;
  align-items: center;
  justify-content: center !important;
  float:none !important;
  width: 1165px;  /* Setting a definitive width can help in centering */
  margin: 10px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: .25rem;
  padding: 20px;
  box-sizing: border-box; 
}

.resource-overview-image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 20%; 
  margin-right: 20px;
}

.resource-overview-image img{
  align-self: center;
  max-width: 100%;
  height:auto;
}

.resource-overview-content {
  flex: 1;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
}

.resource-overview-content h3 {
  color: #003660;
  font-size: 21px; 
  margin: 0;
  margin-bottom: 10px;
}

.resource-overview-summary {
  margin-bottom: 10px; 
}

@media (max-width: 768px) {
  .resource-overview-card {
      max-width: 100%; 
      margin: 10px 0;
  }
}

/* .resource-overview2 */

.resource-overview2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1165px;
  margin: auto;
  gap: 20px; /* spacing between cards */
  align-items: stretch; /* ensure that all cards stretch to the same height */
}

.resource-overview2-card {
  width: 92%; 
  background-color: #ffffff;
  border: 1px solid #ddd;
  margin-bottom: 1rem;
  margin: 10px auto;
  border-radius: .25rem;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: flex; 
  flex-direction: column; 
  height: 400;
  overflow: auto;
}

.resource-overview2-card h3 {
  color: #003660;
  font-size: 21px;
  margin-bottom: 10px;
  flex: 1; 
}

.resource-overview2-card a {
  display: inline-block; 
}

.resource-overview2-card a.view-main-page {
  display: inline;
  box-sizing: content-box;
  padding: 0;
  margin: 0;
  border: none;
  text-decoration: underline;
}

.resource-overview2-sub-section {
  margin-top: 20px;
  flex: 2; 
}

.resource-overview2-sub {
  margin-bottom: 10px;
  width: 150px;
}

.resource-overview2-sub h4 {
  font-size: 18px;
  margin-bottom: 5px;
}

.resource-overview2-sub a {
  color: #0066cc;
  text-decoration: none;
}

@media (max-width: 768px) {
  .resource-overview2 {
      gap: 10px;
  }

  .resource-overview2-card {
      padding: 15px;
  }
}



/* for "our members" page */
.view-rdc-member-view .view-content {
  max-width: 1200px !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: center !important;
  margin: 0 auto !important;
}

.view-rdc-member-view .container {
  max-width: 1210px !important;
  margin: 0 auto !important;
}

.view-rdc-member-view .col-sm-12.col-md-4 {
  height: 480px;
  width: 350px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 40px;
}

/* .view-rdc-member-view .row {
  justify-content: center !important;
} */



/* for the sidebar in rdc pages */
/* Target the specific block based on its unique class */
.block-block-content02cbffbc-cf34-4fc2-a9dc-55db38d188bb .block-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Center the title and keep the menu items text left-aligned */
.block-block-content02cbffbc-cf34-4fc2-a9dc-55db38d188bb .block-title {
  text-align: center;
}

.block-block-content02cbffbc-cf34-4fc2-a9dc-55db38d188bb p {
  text-align: left;
  width: 100%;
}


/* News Page, TinyNew */
.news-container {
  max-width: 1165px;
  margin: auto;
}

.news-card {
  max-width: 570px;
  margin: auto;
  background-color: #ffffff;
  margin-bottom: 1rem;
  border-radius: .25rem;
  padding: 10px;
}

.news-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: .75rem 1.25rem;
  background-color: #EDEADF;
  border-bottom: 1px solid #DCE1E5;
  color: #3D4952 !important;
  cursor: pointer;
  height: 50px;
}

.news-card-header h2 {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  width: 100%; 
  color: #3D4952 !important;
}

.news-card-header h2 .btn {
  flex: 1; 
  text-align: left; 
  padding-left: 3px;
  justify-content: flex-start;
}

.news-card-header h2 .btn-link {
  font-size: 22px;  
}

.expand-icon {
  margin-left: 15px; 
  cursor: pointer; 
}

.news-card-body {
  background-color: #FFFFFF !important;
  color: #000000;
  border: 1px solid #EDEADF;
  padding: 15px;
}

.news-card .btn-link {
  text-decoration: none;
  color: #333;
}

.news-card .btn-link:hover {
  text-decoration: none;
  color: #212529;
}

.news-card-header h2 .btn:focus {
  outline: none;
  border-color: #DCE1E5;
}

.expand-icon img {
  width: 18px; 
  height: 18px; 
}
