@media (min-width: 992px){
    .resource-image-view.col-md-4{
      padding-right: 16px;
    }
}

#edit-sort-bef-combine{
  width: 140px;
}


.resource-title-link h2:hover{
  color: #005aa3;
  position: relative;
  text-decoration: underline #005aa3;
  /* border-bottom: 1px solid #005aa3; */
}

  /* Get rid of pdf file name under the thumbnail in the DLS View */
.dls-media-thumbnail > article:first-of-type > div:last-of-type{
    display: none;
}

.dls-media-thumbnail img:hover {
  filter: grayscale(70%);
}
  
/* Fix margin on  data literacy series page*/

.view.view-data-literacy-series-view{
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding-left: 30px;
    padding-right: 30px;
}

.views-exposed-form .form-actions .button{
  padding: 10px 28px;
  margin: 0px 10px;
}

.dls-item-title{
  margin: 0 0 10px 0;
}

.dls-item-body{
  font-size: 14px;
  line-height: 0px;
}

.dls-item-body > p {
  line-height: 24px;
}
